header{
    background-color: map-get($colores, ColorFondo );
 h4{ .textoEnvios{
    position: relative;
margin-right: 10px;
margin-top: -37px;
}
.textoEnvios{
    position: relative;
margin-right: 10px;
margin-top: -37px;
}
}
}

main{
   h1{ color: white;
    .tituloInicial{
        margin-top: 50px;
        }
    }
        
        .textoIndex{
        margin-top: 50px;
        }
        
        .imagenIndex{
        margin-top: 50px;
        }
}

footer{
    background-color:map-get($colores, ColorFondo);
    .pie-pagina{
        bottom: 0;
        position: fixed;
        text-align: center;
        width: 100%;
        min-height:calc(100vh - 100px - 300px);
    }
    .contenedorFooter{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:50px;
        padding: 45px 0px;
    }
    
    .caja{
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
    }
    
    .redeSociales a{
        display: inline-block;
        text-decoration: none;
        width:map-get($sizes , 45w );
        height:map-get($sizes , 45h );
        line-height: 45px;
        margin-right: 10px;
        background-color:map-get($colores, ColorNav );
        text-align: center;
        transition: all 300ms ease;
    }
}