/*colores*/
$gris: rgb(70, 70, 70);
$negro: rgb(0, 0, 0);


/*mapa*/
$colores:(
    ColorNav:#0d8109,
    ColorFondo:rgb(12, 11, 11)
);

$tamañosFuente:(
 20 :20px
);

$sizes:(
45w: 45px
45h:45px
);

